{% extends "emphasoft_app/base_is_authenticated.html" %}
{% load static %}

{% block title %}Index{% endblock %}

{% block content %}
    {% for user in users %}
        <div class="content__element"
        onclick="window.location.href = '{% url 'emphasoft_app:user' user_id=user.id %}'">
            <span class="">{{ user.get_full_name }} ({{ user.username }})</span>
            {% load thumbnail %}
            {% thumbnail user.profile.avatar "40x40" crop='center' as img %}
                <img src="{{ img.url }}" class="">
            {% empty %}
                <img src="{% static "emphasoft_app/empty-avatar.png" %}" class="">
            {% endthumbnail %}
        </div>
    {% endfor %}
{% endblock %}