{% extends "emphasoft_app/base_is_authenticated.html" %}
{% load static %}

{% block title %}User{% endblock %}

{% block content %}
    <div class="content__element" id="user_name_and_avatar">
        <span class="">{{ user.get_full_name }} ({{ user.username }})</span>
        {% load thumbnail %}
        {% thumbnail user.profile.avatar "100x100" crop='center' as img %}
            <img src="{{ img.url }}" class="">
        {% empty %}
            <img src="{% static "emphasoft_app/empty-avatar.png" %}" class="">
        {% endthumbnail %}
    </div>

    {% if user.profile.bio|length != 0 %}
    <div class="content__element" id="user_about_content">
            <h2>О себе</h2>
            <span>{{ user.profile.bio }}</span>
    </div>
    {% endif %}

    {% if request.user.profile.uuid == user.profile.uuid %}
        <div class="content__element">
            <a href="{% url "emphasoft_app:edit_user" %}"
               class="" style="float:left">Редактировать профиль</a>
        </div>
    {% endif %}
{% endblock %}
